/* Custom variables from Ant Design which we want to override */

/*
@import "../../../node_modules/antd/lib/style/themes/default.less";

@primary-color: #1b080a;
@link-color: #8d5933;
@success-color: #52c41a;
@warning-color: #faad14;
@error-color: #f5222d;
@font-size-base: 14px;
@heading-color: rgba(0, 0, 0, .85);
@text-color: rgba(0, 0, 0, .65);
@text-color-secondary : rgba(0, 0, 0, .45);
@disabled-color : rgba(0, 0, 0, .25);
@border-radius-base: 4px;
@border-color-base: #d9d9d9;
@box-shadow-base: 0 2px 8px rgba(0, 0, 0, .15);
*/

.ant-layout-header {
    border-left: 1px solid #73462A;
    background-color: #1B080A;
    background-image: linear-gradient(to right, #1B080A , #73462a);
}
.ant-layout-footer {
    border-left: 1px solid #73462A;
    background-color: #1B080A;
    background-image: linear-gradient(to right, #1B080A , #73462a);
}
.ant-layout-sider {
    background-color: #1B080A;
}
.ant-menu {
    background-color: #1B080A;    
}

.ant-menu-item-selected {
    background-color: #8D5933 !important;
}
